@charset "utf-8";
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.29%;
    padding-left: 2.7%;
    position: absolute;
    width: 100%;
}
.header-nav ul {
    display: flex;
    gap: 70px;
}
.header-nav li {
    color: #fff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;;
}

.logo {
    width: 227px;
}

body {
    background-color: #e8d9bf;
}

.top-text {
    text-align: center;
    padding: 105px 0 100px 0;
}

.top-text-1 {
    font-size: 30px;
    margin-bottom: 60px;
    font-feature-settings: "palt";
}

.top-text-2 {
    font-size: 82px;
    font-weight: normal;
    line-height: 1.17;
    margin-bottom: 50px;
    font-feature-settings: "palt";
}

.top-text-3 {
    font-size: 23px;
    line-height: 1.65;
    font-feature-settings: "palt";
}

.sp-top-text-3 {
    display: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
}

#sp-about-us {
    display: none;
}

#about-us {
    display: flex;
    justify-content: center;
}

.about-us-photo {
    width: 50%;
}

.about-us-explanation {
    padding-left: 70px;
    width: 50%;
}

.about-us-photo img {
    object-fit: cover;
    border-bottom-right-radius: 70px;
}

h2 img {
    height: 77px;
    width: auto;
}

.about-us-title {
    font-size: 44px;
    margin: 60px 0 40px 0;
    font-weight: normal;
    line-height: 1.39;
    font-feature-settings: "palt";
}

.about-us-text {
    max-width: 410px;
    font-size: 16px;
    line-height: 1.63;
    font-feature-settings: "palt";
}

#menu {
    margin: 105px auto 100px auto;
    text-align: center;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

#menu li {
    width: 30%;
}

#menu li img {
    border-top-right-radius: 40px;
}

#menu h3 {
    font-size: 38px;
    font-weight: normal;
    color: #d30202;
    margin: -15px;
    text-align: start;
    padding-left: 30px;
}

#menu p {
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
    margin-top: 30px;
}

#gallery {
    max-width: 1920px;
    text-align: center;
}

.gallery img {
    margin-bottom: 25px;
}

#gallery  ul {
    display: flex;
}

#gallery li {
    width: 20%;
}

#gallery .sp-gallery {
    display: none;
}

#event {
     text-align: center;
}

#event img {
    margin: 70px 0 40px 0;
}

.event-box {
    background-color: #fff;
    border: solid 4px #4f260b;
    padding: 40px;
}

.event-box ul {
    display: table;
    margin: 0 auto;
}

.event-box li {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.event-box li:last-child {
    display: flex;
    gap: 50px;
    margin-bottom: 0;
}

.event-box p {
    font-size: 23px;
    font-weight: normal;
}

.event-text {
    border-bottom: 1px solid #4f260b;
}

.sp-event-text {
    display: none;
}

#access {
    max-width: 1920px;
    text-align: center;
}

#access img {
    margin: 70px 0 40px 0;
}

.google-map {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
}

.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

#footer {
    background-color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.flex-item {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    gap: 70px;
    padding: 85px 0 80px 0;
}

.footer-logo {
    width: 226px;
}

.flex-item li {
    margin-bottom: 25px;
}

.flex-item li:last-child {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    padding-bottom: 80px;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

.hamburger,
.header-nav-sp {
    display: none;
}

@media screen and (max-width:1100px) {
    .header-nav {
        display: none;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 9999;
    }

    .hamburger span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        top: 13px;
        transition: .3s;
    }

    .hamburger span::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        top: -13px;
        transition: .3s;
    }

    .hamburger span::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        bottom: -13px;
        transition: .3s;
    }

    .open span {
        background-color: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .header-nav-sp {
        position: absolute;
        background-color: #000000c4;
        width: 100%;
        height: 100vh;
    }

    .header-nav-sp ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }

    .header-nav-sp li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    .top-text-1 {
        font-size: 25px;
    }

    .top-text-2 {
        font-size: 70px;
    }

    .top-text-3 {
        font-size: 16px;
    }

    .about-us-title {
        font-size: 36px;
    }
}

@media screen and (max-width:767px) {
    
    .top-text {
        padding: 43px 0 65px 0;
    }
    
    .top-text-1 {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .top-text-2 {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .top-text-3 {
        font-size: 16px;
    }

    .top-text-3 {
        display: none;
    }

    .sp-top-text-3 {
        display: block;
        font-size: 16px;
        line-height: 1.87;
        font-feature-settings: "palt" 0;
    }

    #about-us {
        display: none;
    }

    #sp-about-us {
        display: block;
    }

    h2 {
        text-align: center;
        padding-bottom: 15px;
    }

    h2 img {
        height: 45px;
    }

    .sp-about-us-photo {
        width: 100vw;
        margin-bottom: 40px;
    }

    .sp-about-us-title {
        font-size: 36px;
        padding-bottom: 30px;
        line-height: 1.25;
    }

    .sp-about-us-text {
        font-size: 16px;
        line-height: 1.75;
    }

    #menu {
        margin: 55px auto 0 auto;
    }

    #menu ul {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    #menu li {
        width: 80%;
        padding-bottom: 60px;
    }

    #gallery{
        margin: 0 auto 30px auto;
    }

    .gallery img{
        margin-bottom: 0;
    }

    #gallery .pc-gallery {
        display: none;
    }

    #gallery .sp-gallery {
        display: block;
    }

    #gallery .sp-gallery img {
        width: 100vw;
        height: 294px;
        object-fit: cover;
    }

    #event {
        margin-bottom: 30px;
    }

    #event img {
        margin: 0;
    }

    .event-box {
        padding: 20px 0 20px 20px;
    }

    .event-box li {
        display: block;
        text-align: left;
    }

    .event-box li:last-child {
        display: block;
    }

    .event-box p {
        font-size: 16px;
    }

    .event-text {
        display: none;
    }

    .sp-event-text {
        display: inline-block;
        border-bottom: 1px solid #4f260b;
    }

    #access img {
        margin: 0;
    }

    .google-map {
        position: relative;
        padding-bottom: 50%;
        height: 0;
        overflow: hidden;
    }

    #footer .flex-item {
        display: block;
        padding: 45px 45px 45px 20px;
    }

    #footer .footer-logo {
        padding-bottom: 35px;
    }

    #footer li {
        font-size: 18px;
        line-height: 0.58;
    }

    .copyright {
        font-size: 16px;
        padding-bottom: 30px;
    }

    .to-top {
        width: 100px;
        height: 100px;
        bottom: 200px;
    }
}